body {
    margin: 80px;
    display: flex;
    justify-content: center;
}

div {
    width : 100px;
    padding: 30px;
    background-color:#817c7c99;
    border: 5px solid rgb(8, 8, 8);
  }

.container {
    gap: 5px;
    height: 400px;
    min-width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.styled {
    border: 0;
    width: calc(25% - 5px);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}

.styled:hover {
    background-color: rgba(255, 255, 255, 1)
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.reset {
    background: rgba(220, 0, 0, 1);
    color: white;
}

.reset:hover {
    background-color: rgba(255, 0, 0, 1);
}

.delete {
    background: rgba(220, 0, 0, 1);
    color: white;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 1);
}

.calc {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.calc:hover {
    background: rgba(40, 40, 40, 0.6);
}

input[type="text"] {
    font-size: 30px;
    width: 73%;
    height: 60px;
    margin-bottom: 25px;
}

button {
    height: 70px;
}

input:disabled {
    background: white;
}

.enter {
    background-color: rgba(123, 114, 255, 1);
    color: white;
}

.enter:hover {
    background-color: rgba(143, 134, 255, 1)
}


/* body {
    margin: 80px;
    display: flex;
    justify-content: center;
}

div {
    width : 100px;
    height: 100px;
    padding: 30px;
    background-color:#817c7c99;
    border: 5px solid rgb(8, 8, 8);
  }

.container {
    gap: 5px;
    height: 400px;
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.styled {
    border: 0;
    width: calc(25% - 5px);
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    transition: 0.2s;
}

.styled:hover {
    background-color: rgba(255, 255, 255, 1)
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.reset {
    background: rgba(220, 0, 0, 1);
    color: white;
}

.reset:hover {
    background-color: rgba(255, 0, 0, 1);
}

.delete {
    height: 65px;
    background: rgba(220, 0, 0, 1);
    color: white;
}

.delete:hover {
    background-color: rgba(255, 0, 0, 1);
}

.calc {
    background: rgba(0, 0, 0, 0.6);
    color: white;
}

.calc:hover {
    background: rgba(40, 40, 40, 0.6);
}

input[type="text"] {
    font-size: 30px;
    width: 73%;
    height: 60px;
    margin-bottom: 8px;
} */